.big {
	font-size: 1.7em !important;
}
.small {
	font-size: 0.65em !important;
}
.prev-obj {
	margin-bottom: 0 !important;
}
.next-obj {
	margin-top: 0 !important;
}
pre {
	width: 100% !important;
}
pre.legible {
	font-size: 0.75em !important;
}
code.extended {
	max-height: 500px !important;
}
blockquote {
	width: 100% !important;
	padding: 20px !important;
	font-size: 1.15em !important;
}

